# Домашняя работа 2

**Срок сдачи:** 23 октября 2016, 23:59 <br\>

При отправлении ДЗ на почту указывайте фамилию в названии файла, а тему письма оформляйте в следующем формате: <br\>
** [ИАД] *{Фамилия}* *{Имя}* ДЗ*{Номер}* **<br\>


Сопровождайте ваш код изображеними, комментариями и выводами. <br\>
Иммейте ввиду, что на некоторые задачи нет единственного верного и полного ответа. Чем больше информации вы сможете извлечь, аргументированных выводов сформулировать, тем лучше.

Используйте данный Ipython Notebook при оформлении домашнего задания.

# Table of Contents
 <p><div class="lev1 toc-item"><a href="#Домашняя-работа-2" data-toc-modified-id="Домашняя-работа-2-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Домашняя работа 2</a></div><div class="lev2 toc-item"><a href="#Работа-с-данными-(4-балла)" data-toc-modified-id="Работа-с-данными-(4-балла)-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Работа с данными (4 балла)</a></div><div class="lev2 toc-item"><a href="#Классификация-(6-баллов)" data-toc-modified-id="Классификация-(6-баллов)-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Классификация (6 баллов)</a></div><div class="lev3 toc-item"><a href="#Предписания" data-toc-modified-id="Предписания-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Предписания</a></div><div class="lev3 toc-item"><a href="#Задание" data-toc-modified-id="Задание-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>Задание</a></div>

In [205]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

Прочтите статью ["USING	DATA	MINING	TO	PREDICT	SECONDARY SCHOOL	STUDENT	ALCOHOL	CONSUMPTION"](https://www.dropbox.com/s/ww4h9ivnkbyy9xw/STUDENT%20ALCOHOL%20CONSUMPTION%20%281%29.pdf?dl=0).<br\>
Загрузите [датасет](https://archive.ics.uci.edu/ml/datasets/STUDENT+ALCOHOL+CONSUMPTION#), используемый в статье и выполните следующие задания:

## Работа с данными (4 балла)
1. Приведите описание признаков датасета на русском языке с указанием типа данных (2 балла)
2. Описание предобработки данных (2 балла)
    - Проверьте наличие пропусков. В случае наличия пропусков заполните их медианными значениями (1 балл)
    - Преобразуйте все номинальные признаки в несколько признаков с бинарным значением (1 балл)

In [206]:
import zipfile

In [207]:
student_mat_data = pd.read_csv(zipfile.ZipFile('student.zip').open('student-mat.csv'), delimiter=';')
student_mat_data.shape

(395, 33)

In [208]:
student_por_data = pd.read_csv(zipfile.ZipFile('student.zip').open('student-por.csv'), delimiter=';')
student_por_data.shape

(649, 33)

In [209]:
data = pd.concat([student_mat_data, student_por_data], ignore_index=True)
data.shape

(1044, 33)

In [210]:
data.tail()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
1039,MS,F,19,R,GT3,T,2,3,services,other,...,5,4,2,1,2,5,4,10,11,10
1040,MS,F,18,U,LE3,T,3,1,teacher,services,...,4,3,4,1,1,1,4,15,15,16
1041,MS,F,18,U,GT3,T,1,1,other,other,...,1,1,1,1,1,5,6,11,12,9
1042,MS,M,17,U,LE3,T,3,1,services,services,...,2,4,5,3,4,2,6,10,10,10
1043,MS,M,18,R,LE3,T,3,2,services,other,...,4,4,1,3,4,5,4,10,11,11

In [211]:
data.columns

Index(['school', 'sex', 'age', 'address', 'famsize', 'Pstatus', 'Medu', 'Fedu',
       'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime', 'studytime',
       'failures', 'schoolsup', 'famsup', 'paid', 'activities', 'nursery',
       'higher', 'internet', 'romantic', 'famrel', 'freetime', 'goout', 'Dalc',
       'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

*Уберем некоторые признаки в соответствии с вышеприведенной статьей:*

In [212]:
data = data.drop(['famsize', 'Fedu', 'Fjob', 'reason', 'guardian', 'famrel'], axis=1)
data.columns

Index(['school', 'sex', 'age', 'address', 'Pstatus', 'Medu', 'Mjob',
       'traveltime', 'studytime', 'failures', 'schoolsup', 'famsup', 'paid',
       'activities', 'nursery', 'higher', 'internet', 'romantic', 'freetime',
       'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

*Из двух столбцов Dalc и Walc сделаем один alc по формуле из той же статьи:*

$$
alc = \frac{Walc \times 2 + Dalc \times 5}{7}
$$

In [213]:
data.Dalc[-5:]

1039    1
1040    1
1041    1
1042    3
1043    3
Name: Dalc, dtype: int64

In [214]:
data.Walc[-5:]

1039    2
1040    1
1041    1
1042    4
1043    4
Name: Walc, dtype: int64

In [215]:
alc = ((data.Walc * 2 + data.Dalc * 5) / 7)
alc[-5:]

1039    1.285714
1040    1.000000
1041    1.000000
1042    3.285714
1043    3.285714
dtype: float64

*Мы будем решать задачу бинарной классификации, поэтому, опять воспользовавшись статьей, преобразуем столбец alc в новый столбец Alc, причем значение 0 в столбце Alc будет соответствовать значению меньше 3 в столбце alc, 1 - не меньше:*

In [216]:
Alc = pd.DataFrame({'Alc': (alc >= 3).astype(int)})
Alc[-5:]

      Alc
1039    0
1040    0
1041    0
1042    1
1043    1

*Наконец можно убрать столбцы Walc и Dalc из исходной таблицы и добавить новый столбец Alc:*

In [217]:
data = data.join(Alc)
data = data.drop(['Walc', 'Dalc'], axis=1)
data.columns

Index(['school', 'sex', 'age', 'address', 'Pstatus', 'Medu', 'Mjob',
       'traveltime', 'studytime', 'failures', 'schoolsup', 'famsup', 'paid',
       'activities', 'nursery', 'higher', 'internet', 'romantic', 'freetime',
       'goout', 'health', 'absences', 'G1', 'G2', 'G3', 'Alc'],
      dtype='object')

*В соответствии с таблицей 1 на странице 3 статьи можно привести следующее описание признаков:*

- sex: пол студента (бинарный: женский или мужской)
- age: возраст студента (числовой: от 15 до 22)
- school: школа студента (бинарный: Gabriel Pereira или Mousinho da Silveira)
- address: тип домашнего адреса студента (бинарный: городской или сельский)
- Pstatus: тип отношений родителей (бинарный: живут вместе или раздельно)
- Medu: образование матери (числовой: 0 - никакого,  1 - начальное образование (4 класса), 2 – от 5 до 9 классов, 3 – среднее специальное или 4 – высшее)
- Mjob: работа матери (номинальный: учитель, связанная со здоровьем, городская служба (например, в администрации или в полиции), дома или другое)
- traveltime: время от дома до школы (числовой: 1 - меньше 15 минут, 2 - от 15 до 30 минут, 3 - от 30 минут до 1 часа или 4 - больше 1 часа)
- studytime: количество часов обучения в неделю (числовой: 1 - меньше 2 часов, 2 - от 2 до 5 часов, 3 - от 5 до 10 часов или 4 - больше 10 часов)
- failures: количество ранее не сданных предметов (числовой: 1 - один предмет, 2 - два предмета или 4 - в ином случае)
- schoolsup: дополнительные занятия (бинарный: да или нет)
- famsup: помощь семьи прри выполнении учебных заданий (бинарный: да или нет)
- activities: внеучебная активность (бинарный: да или нет)
- paidclass: дополнительные платные занятия (бинарный: да или нет)
- nursery: посещение детского сада ранее (бинарный: да или нет)
- higher: желание получить высшее образование (бинарный: да или нет)
- romantic: наличие романтических отношений (бинарный: да или нет)
- freetime: свободное время после школы (числовой: от 1 - очень мало - до 5 - очень много)
- goout: время, проведенное на гуляниях с друзьями (числовой: от 1 - очень мало - до 5 - очень много)
- health: текущее состояние здоровья (числовой: от 1 - очень плохое - до 5 - очень хорошее)
- absences: количество школьных пропусков (числовой: от 0 до 93)
- G1: оценка за первый семестр (числовой: от 0 до 20)
- G2: оценка за второй семестр (числовой: от 0 до 20)
- G3: итоговая оценка (числовой: от 0 до 20)
- Alc: наличие алкоголизма (бинарный: да или нет)

*Проверим наличие пропусков:*

In [218]:
data.isnull().any().any()

False

*Как видно, пропусков в данных нет. Ну и хорошо.*

*Из описания признаков видно, что у нас всего один номинальный признак: Mjob. Посмотрим, какие значения он принимает, и в соответствии с этим разобьем его на бинарные признаки:*

In [219]:
data.Mjob.unique()

array(['at_home', 'health', 'other', 'services', 'teacher'], dtype=object)

In [220]:
data.Mjob[:5]

0    at_home
1    at_home
2    at_home
3     health
4      other
Name: Mjob, dtype: object

In [221]:
Mjob_multiple = pd.get_dummies(data.Mjob)
Mjob_multiple[:5]

   at_home  health  other  services  teacher
0        1       0      0         0        0
1        1       0      0         0        0
2        1       0      0         0        0
3        0       1      0         0        0
4        0       0      1         0        0

In [222]:
data = data.drop(['Mjob'], axis=1)
data = pd.concat([data, Mjob_multiple])
data.columns

Index(['Alc', 'G1', 'G2', 'G3', 'Medu', 'Pstatus', 'absences', 'activities',
       'address', 'age', 'at_home', 'failures', 'famsup', 'freetime', 'goout',
       'health', 'higher', 'internet', 'nursery', 'other', 'paid', 'romantic',
       'school', 'schoolsup', 'services', 'sex', 'studytime', 'teacher',
       'traveltime'],
      dtype='object')

*Теперь переведем значения бинарных признаков в 0 и 1:*

In [227]:
data.drop(['Alc'], axis=1)
data.columns

Index(['Alc', 'G1', 'G2', 'G3', 'Medu', 'Pstatus', 'absences', 'activities',
       'address', 'age', 'at_home', 'failures', 'famsup', 'freetime', 'goout',
       'health', 'higher', 'internet', 'nursery', 'other', 'paid', 'romantic',
       'school', 'schoolsup', 'services', 'sex', 'studytime', 'teacher',
       'traveltime'],
      dtype='object')

In [225]:
data.describe(include=[object])

,Pstatus,activities,address,famsup,higher,internet,nursery,paid,romantic,school,schoolsup,sex
count,1044,1044,1044,1044,1044,1044,1044,1044,1044,1044,1044,1044
unique,2,2,2,2,2,2,2,2,2,2,2,2
top,T,no,U,yes,yes,yes,yes,no,no,GP,no,F
freq,923,528,759,640,955,827,835,824,673,772,925,591

In [231]:
binary_features = [feature for feature in data.drop(['Alc'])
                   if data.drop(['Alc']).describe(include=[object])[feature]['unique'] == 2]
binary_features

KeyError: 'Alc'

## Классификация (6 баллов)

### Предписания
- Используйте accuracy как основную меру качества
- Классы в задаче несбалансированные. Для корректной кросс-валидации используйте стратифицированный способ разбиения на фолды [Stratified K-fold](http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.StratifiedKFold.html#sklearn.model_selection.StratifiedKFold)

### Задание
1. Задайте RANDOM_SEED и случайным образом разделите выборку на обучающую и контрольную в пропорции 80/20. Этот же RANDOM_SEED используйте при кросс-валидации (0.5 балла)
2. Random Forest (2 балла)
    * В статье описано использование Random Forest для предсказания важности фактором вляющих на потребление алкоголя.<br\>
    * Повторите эксперимент с использованием [RandomForest](http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestClassifier.html#sklearn.ensemble.RandomForestClassifier) и найдите наилучшие параметры с помощью кросс-валидации. (1 балл)<br\>
    * Изобразите аналогичную таблицу важности признаков для наилучшей настройки метода (значения могут отличаться). (0.5 балла)<br\>
    * Укажите значение accuracy для пяти наилучших настроек метода на контрольной выборке. (0.5 балла)<br\>

3. GradientBoosting (2 балла)
    * Обучите [GradientBoostingClassifier](http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.GradientBoostingClassifier.html#sklearn.ensemble.GradientBoostingClassifier)  и найдите для него наилучшие параметры с помощью кросс-валидации. (0.5 балла)<br\>
    * Изобразите таблицу важности признаков для наилучшей настройки метода. Отличается ли она от таблицы метода RandomForest. Почему? (1 балл)<br\>
    * Укажите значение accuracy для пяти наилучших настроек метода. (0.5 балла)<br\>

4. AdaBoost (1 балл)
    * Обучите [AdaBoostClassifier](http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.AdaBoostClassifier.html) и найдите для него наилучшие параметры с помощью кросс-валидации. (0.5 балла)<br\>
    * Укажите значение accuracy для пяти наилучших настроек метода. (0.5 балла)<br\>

5. Какой из классификаторов оказался лучше? (0.5 балла)